/* Typography
* ============================== */
h1 { font-size: $xx-large; }
h2 { font-size: $x-large; }
h3 { font-size: $large; }
h4 { font-size: $medium; }
h5 { font-size: $small; }

@each $size, $value in $font-sizes {
  .is-#{$size} {
    font-size: $value;
  }
}

.bold { font-weight: 900; }
.semi-bold { font-weight: 700; }
.regular { font-weight: 400; }

/* Position
* ============================== */
.center {
  display: flex;
  place-items: center;
  place-content: center;
}

/* Button
* ============================== */
.button {
  border-radius: 4px;
  text-transform: uppercase;
  background-color: $blue-500;
  border: 1px solid transparent;
  border-color: $blue-500;
  color: $white;
  font-size: px-to-rem(12);
  display: inline-block;
  padding: px-to-rem(14) px-to-rem(24);
  transition: filter .2s linear;
  cursor: pointer;

  &:hover {
    filter: brightness(1.15);
  }
}