/* Title
* ============================== */
%section-title {
  color: $black;
  font-weight: 400;
}

%section-subtitle {
  text-transform: uppercase;
  color: $blue-500;
  font-size: $small;
  letter-spacing: .2rem;
  font-weight: 700;
}

/* Background
* ============================== */
%background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}