$base-font-size: 1rem;
$scale-ratio-font: 1.4;

$small: $base-font-size / $scale-ratio-font;
$medium: $base-font-size;
$large: $base-font-size * $scale-ratio-font;
$x-large: $large * $scale-ratio-font;
$xx-large: $x-large * $scale-ratio-font;
$xxx-large: $xx-large * $scale-ratio-font;

$font-sizes: (
  'small': $small,
  'medium': $medium,
  'large': $large,
  'x-large': $x-large,
  'xx-large': $xx-large,
  'xxx-large': $xxx-large,
)